In [4]:
import pandas as pd

# Charger le fichier Excel
df = pd.read_excel('../raw_data/weakly_ranking.xlsx')
# Afficher le résultat
df

,country_name,week,category,weekly_rank,show_title,cumulative_weeks_in_top_10
0,Argentina,2023-12-31,Films,1,Rebel Moon — Part One: A Child of Fire,2
1,Argentina,2023-12-31,Films,2,The Boss Baby: Family Business,1
2,Argentina,2023-12-31,Films,3,Norma,2
3,Argentina,2023-12-31,Films,4,The Book of Life,1
4,Argentina,2023-12-31,Films,5,Leave the World Behind,4
...,...,...,...,...,...,...
244355,Vietnam,2021-07-04,TV,6,Reply 1988,1
244356,Vietnam,2021-07-04,TV,7,"Nevertheless,",1
244357,Vietnam,2021-07-04,TV,8,Too Hot to Handle,1
244358,Vietnam,2021-07-04,TV,9,Record of Ragnarok,1
244359,Vietnam,2021-07-04,TV,10,Crash Landing on You,1

In [5]:
# Convertir la colonne 'week' en format datetime pour faciliter la manipulation
df['week'] = pd.to_datetime(df['week'])

# Extraire les lignes correspondant au mois de décembre 2023
df = df[(df['week'].dt.year == 2023) & (df['week'].dt.month == 12)]
df

,country_name,week,category,weekly_rank,show_title,cumulative_weeks_in_top_10
0,Argentina,2023-12-31,Films,1,Rebel Moon — Part One: A Child of Fire,2
1,Argentina,2023-12-31,Films,2,The Boss Baby: Family Business,1
2,Argentina,2023-12-31,Films,3,Norma,2
3,Argentina,2023-12-31,Films,4,The Book of Life,1
4,Argentina,2023-12-31,Films,5,Leave the World Behind,4
...,...,...,...,...,...,...
241835,Vietnam,2023-12-03,TV,6,Obliterated,1
241836,Vietnam,2023-12-03,TV,7,Castaway Diva,5
241837,Vietnam,2023-12-03,TV,8,Welcome to Samdal-ri,1
241838,Vietnam,2023-12-03,TV,9,The Apothecary Diaries,6
241839,Vietnam,2023-12-03,TV,10,Sweet Home,1

In [6]:
# How many missing values ?

print(df.isna().sum())
print("There are {} missing values in the dataframe.".format(df.isna().sum().sum()))

country_name                  0
week                          0
category                      0
weekly_rank                   0
show_title                    0
cumulative_weeks_in_top_10    0
dtype: int64
There are 0 missing values in the dataframe.

In [7]:
december_2023_data.to_csv("../suitable_data/clean_weekly_ranking.csv",index=False)